figure.w450 {
  max-width:450px;
}
figure.w300 {
  max-width:300px;
}
figure.w464 {
  max-width:464px;
}
figure.w304 {
  max-width:304px;
}
figure.w275 {
  max-width:275px;
}
figure.w224 {
  max-width:224.422px;
}
