noscript {
  margin: 1em;
}

.floating {
  float: right;
}
.recent-products-wrapper {
  border: 1px solid #999;
}
.recent-products-header {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: .25em 0 .5em;
  text-indent: .25em;
}
.recent-products {
  max-height: 30em;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding-left: 0;
}
.recent-products > .dyfilist {
  margin: 0 .25em;
}
.recent-products-links {
  border-top: 1px solid #ccc;
  margin-top: 0;
  padding-top: .5em;
  padding-bottom: .25em;
}

.recent-products-wrapper .eqlist > .eqitem > .value {
  font-size: medium;
}

@media screen and (max-width: 1024px) {
  .recent-products-wrapper .eqlist > .eqitem > .subtitle,
  .recent-products-wrapper .eqlist > .eqitem > .aside {
    display: block;
    font-size: smaller;
    max-width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .recent-products-wrapper .eqlist > .eqitem > .aside {
    max-width: 25%;
  }
}

@media screen and (max-width: 560px) {
  .floating {
    float: none;
    padding-left: 0;
    margin-bottom: 1em;
  }

  .recent-products-links,
  .recent-products-wrapper .eqlist > .eqitem {
    font-size: smaller;
  }
}
