.sidebar {
  float: right;
  width: 400px;
  font-size: 0.85em;
  padding: 10px;
  margin: 10px;
  background-color: #f4f4f4;
}

figure.wa-mon {
  max-width: 300px;
}

figure.dyfi {
  max-width: 300px;
}

figure.map {
  max-width: 400px;
}
