figure {
	display: block;
	margin: 1em 0;

	> img {
		border: 1px solid #ddd;
	}

	> figcaption {
		display: block;
		margin-top: 0.25em;
		font-size: 0.8em;
		font-style: italic;
	}

	@media screen and (min-width: 400px) {
		&.right {
			float: right;
			margin: 0 0 12px 16px;
			max-width: 50%;
		}

		&.left {
			float: left;
			margin: 0 16px 12px 0;
			max-width: 50%;
		}
	}
}
