/* "jumplist" navigation links */

.jumplist {
	background: #eee;
	padding: 8px;
	margin: 0 0 1em 0;
	border: 1px solid #ccc;

	> a {
		&:after {
			display: inline-block;
			content: '|';
			padding: 0 8px;
		}
		&:last-child:after {
			display: none;
		}
	}
}
