.quicklinks {
	list-style: none;
	margin: 0;
	padding: 0;

	> li {

		&:nth-child(2n+1) {
			clear: left;
		}

		> a {
			display: block;
			text-decoration: none;
			padding: 5px;
			border: 1px solid transparent;

			&:after {
				content: ' ';
				display: block;
				clear: left;
			}

			> h3 {
				margin-top: 0;
				margin-bottom: 5px;
				text-decoration: underline;
			}

			> p {
				margin: 0;
				color: black;
				font-size: .87em;
			}
		}

		> a:hover {
			color: #000;
			border: 1px solid #CCC;
			-moz-box-shadow: #666 2px 2px 5px 0;
			-webkit-box-shadow: #666 2px 2px 5px 0;
			box-shadow: #666 2px 2px 5px 0;
		}

	}
}

.icon {
	width: 64px;
	height: 64px;
	margin-right: $horizontal-spacing;
	float: left;
	display: block;
}
