/* bibliography-style references */

ul.referencelist li {
  padding: 0 0 0 3em;
  margin: 1.25em 0;
  font-size: 0.9em;
  font-style: italic;
  text-indent: -3em;
  list-style: none;
  line-height: 1.4em;
}

ul.referencelist li p.note {
  margin: 1em 1.5em 0 0;
	border: 1px solid #fff;
	padding: 0;
	text-indent: 0;
	color: #555;
	font-size: .85em;
}
