/* bibliography-style references */

.referencelist > li {
	border: 1px solid #fff;
	list-style:none;
	padding: 0;
	margin: 1em 0 0 0;
	color: #555;
	font-size: .85em;
	font-style: italic;
	text-indent: -3em;
}
