/* ### set template variables */

$body-margin: 2px;

$banner-image: '/css/images/header.png' !default;
$banner-background-color: #000 !default;


$site-title: 'Earthquake Hazards Program' !default;
$site-title-color: #FFF !default;
$site-title-background-color: #39597F !default;


$spacing: 8px !default;
$horizontal-spacing: 12px;
$vertical-spacing: 8px;
$breakpoint-full: 768px;
$side-column-width: 20%;

$page-footer-color: #999 !default;
$page-footer-background-color: #FFF !default;
$page-footer-border-color: #DDD !default;


$search-background-color: #EEE !default;
$search-border-color: #CCC !default;


$sitenav-color: #132840 !default;
$sitenav-background-color: #C9D8E9 !default;
$sitenav-color-hover: #111 !default;
$sitenav-background-color-hover: darken($sitenav-background-color, 10%) !default;
$sitenav-border-color-hover: #111 !default;

$sectionnav-color: $sitenav-color !default;
$sectionnav-background-color: lighten($sitenav-background-color, 10%) !default;
$sectionnav-color-hover: $sitenav-color-hover !default;
$sectionnav-background-color-hover: lighten($sitenav-background-color-hover, 10%) !default;
$sectionnav-border-color: #CCC !default;

$offcanvas-width: 80% !default;



/* ### include template css file */
@import '../../../node_modules/hazdev-template/src/htdocs/css/_template.scss';


/* ### include any content module css files */


/* LISA'S STYLES */

h1 {
	display: block;
	font-family: arial,helvetica,sans-serif;
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-family: arial,helvetica,sans-serif;
	font-size:1.5em;
	color: #666;
	padding: 4px 6px 0 0;
	margin: 0.5em 0 0.2em 0;
	background: none;
	border-bottom: 2px solid #666;
}

h3 {
	font-family: arial,helvetica,sans-serif;
	font-size:1.2em;
}

#site-sectionnav {
	margin: 8px 0px 0px 0px;
}

#site-sectionnav a {
	padding: 4px 24px;
}

.site-sitenav {
	margin: 0px 0px;
}

.site-search {
	margin: 0px 0px 1px 0px;
}

.page-content {
	margin: 1em 1em 1em 0em;
}

.site-sectionnav strong {
	-webkit-box-shadow: 4px 0 0 inset;
	box-shadow: 4px 0 0 inset;
	text-decoration: none;
	background-color: #fff;
	margin-left: -1px;
	position: relative;
	
	&:after {
		content: '';
		width: 2px;
		height: 100%;
		display: block;
		background-color: #fff;
		position: absolute;
		right: 0;
		top: 0;
		margin-right: -1px;
	}
}