/* ### set template variables */

$body-margin: 4px;

$banner-image: '/images/header.png';
$banner-background-color: #000;

$site-title: 'Earthquake Hazards Program';
$site-title-color: #FFF;
$site-title-background-color: #39597F;

$spacing: 16px;
$vertical-spacing: 12px;

$breakpoint-full: 768px;
$side-column-width: 20%;

$page-footer-color: #999;
$page-footer-background-color: #FFF;
$page-footer-border-color: #DDD;

$search-background-color: #EEE;
$search-border-color: #CCC;

$sitenav-color: #132840;
$sitenav-background-color: #C9D8E9;
$sitenav-color-hover: #111;
$sitenav-background-color-hover: darken($sitenav-background-color, 10%);
$sitenav-border-color-hover: #111;

$sectionnav-color: $sitenav-color;
$sectionnav-background-color: lighten($sitenav-background-color, 10%);
$sectionnav-color-hover: $sitenav-color-hover;
$sectionnav-background-color-hover: lighten($sitenav-background-color-hover, 10%);
$sectionnav-border-color: #CCC;

$offcanvas-width: 80%;


/* ### include template css file */
@import '../../../node_modules/hazdev-template/src/htdocs/css/_template.scss';
@import '../../../node_modules/hazdev-template/src/htdocs/css/flexible-grid';
/* @import '../../../node_modules/hazdev-template/src/htdocs/css/table'; */


/* ### include any content module css files */


/* LISA'S STYLES */

.page {
	padding: 12px 0px 12px 16px;
}



.site-sectionnav section strong {
	text-decoration: none;
	background-color:#fff;
	padding: 8px 8px 8px 32px;
}

.site-sectionnav {
	background-color: #E5ECF5;
}

.site-sectionnav a {
	padding: 8px;
}

.site-sectionnav section a {
	padding: 8px 8px 8px 32px;
}

.site-sectionnav section a:hover {
	background-color: #b2cce9;
}

.site-sectionnav section header {
	padding: 8px;
	border-top: 1px solid #ccc;
}



.site-sitenav a {
	background-color: #39597f;
	color: #fff;
	padding: 8px;
}

.site-sitenav strong {
	display: block;
	text-decoration: none;
	background-color:#fff;
	padding: 8px;
	
}



.page-content {
	margin: 1em 0em 1em 0em;
}


.offcanvas-enabled
.offcanvas-toggle {
	top: 5px;
	right: 5px;
}

.date {
	font-size:.9em;
	color: #777;
	font-family: Georgia, Times, serif;
	font-style: normal;
}

.page-footer {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.site-commonnav {
	margin-bottom: 16px;
}

/* Disclaimer text */

#footer .disclaimer {
	display:block;
	width: 960px;
	margin: 0 auto;
	padding: 6px 0 6px 16px;
	color:#000;
}

.disclaimer {
  font-size: .85em;
  color: #999;
}
