/* ### set template variables */

$banner-image:'/images/header.png';
$site-title-background-color:#527092;
$site-title:'Earthquake Hazards Program';

$sitenav-color: #FFF;
$sitenav-background-color: $site-title-background-color;


/* ### include template css file */
@import '../../../node_modules/hazdev-template/src/htdocs/css/_template.scss';


/* ### include any content module css files */
@import '../../../node_modules/hazdev-template/src/htdocs/css/flexible-grid.scss';
@import '../../../node_modules/hazdev-template/src/htdocs/css/figcaption.scss';
@import '../../../node_modules/hazdev-template/src/htdocs/css/jumplist.scss';
@import '../../../node_modules/hazdev-template/src/htdocs/css/references.scss';
@import '../../../node_modules/hazdev-template/src/htdocs/css/responsive-table.scss';


/* ### custom styles for this theme */

.site-sitenav {
	border-color:#81A4CB;
}

.date {
	font-size:.9em;
	color:#777;
	font-family:Georgia, Times, serif;
	font-style:normal;
}
