.divider {
  border-top:1px solid #333;
  margin-top:2em;
  padding-top:2em;
}

section h3 {
  background: url("/template/images/bg-headers3.gif") repeat-x scroll left -5px #EBEAE3;
  clear: both;
  color: #3A2F20;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  padding: 3px 6px 2px;
}

.download-title {
  display: block;
  font-weight: bold;
}

.download-format {
  list-style: disc;
  margin-bottom: 1.5em;
}
