.browse-form {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 1em;
}

.browse-form > label {
  display: block;
  margin: 0;
  width: 100%;
}

.browse-form > input {
  flex: 1;
  margin-right: 0.5em;
}

