.scenario-map {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.scenario-map > img {
  height: 100px;
  margin-right: 1em;
  width: 100px;
}

.scenario-map > a {
  vertical-align: top;
}

@media screen and (min-width: 640px) {
  .catalog-events {
    float: right;
    margin-left: 16px;
    max-width: 480px;
    width: 50%;
  }
}
