.scenario-map {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
}

.scenario-map > img {
  margin-right: 1em;
  width: 150px;
}

.scenario-map > a {
  vertical-align: top;
}

.scenario-map > .description {
  display: flex;
  flex-direction: column;
}

.scenario-map > .description > span {
  font-size: 0.88em;
  margin-top: 0.5em;
}

@media screen and (min-width: 640px) {
  .catalog-events {
    float: right;
    margin-left: 16px;
    max-width: 480px;
    width: 50%;
  }
}
