@import '../../node_modules/hazdev-template/src/htdocs/site/earthquake/index.scss';

[role="banner"] {
  @media screen and (min-width: $breakpoint-offcanvas) {
    background-image: url("/apology_objects/banner.png");
  }

  > .site-logo {
    background-image: url("/apology_objects/usgs-logo.svg");
  }
}

// this shouldn't be needed, but Chrome doesn't honor sizes on first load
header,
main {
  font-size:1.5rem;
}

.page {
  width: 100%;
  padding: 0 16px;
  font-size: 1.5rem;
}
