/* commons */
body { font-family:Arial; font-size:11px; color: #333; }

/* startUp message */
.startUpMessage { font-size:24px; color:#666; }

/* popups */
.key { border: 1px solid #fff; background-color:#333; padding:2px 5px; font-size:12px; margin:0px; vertical-align:top; }
.value { border: 1px solid #fff; background-color:#444; padding:2px 5px; font-size:12px; margin:0px; }
.popUp {  margin:0px; border-collapse:collapse; font-size:10px; color:#FFF; padding:1px; }
.key a, .value a { color: #FFF; display: block; }

/* coordinate display */
.coords { font-size:11px; margin:0px; padding-left:20px; }

/* overview map */
.hair { background-color: #f00; }
.cross { border: 1px solid #f00; }

/* searchCriteria */
.searchCriteria { background-color:#ccc; border:1px solid #fff; text-align:center; font-size:12px; padding:2px; margin:0px; font-weight:bold; }
.searchCriteriaSelector { border:1px solid #fff; padding:1px; background-color:#ddd; text-align:center; }

/* infoBar */
.infoBar { background-color:#fff; }
.title { font-size:24px; color:#000; text-align:right; }
.comments { font-size:14px; color:#000; text-align:right; }

/* knobs */
.knob { text-align:center; padding:4px; font-family:Verdana; font-size:11px; background-color:#ccc; }

/* copyright information */
.copyright { margin:0px; color:#ccc; font-size:36px; }

/* dashboard */ 
.featureBar { background-color:#CCC; padding:2px; width:99%; text-align:right; margin: 8px 0px 0px 0px; }
.dashBoardPrintTable { width:100%; text-align:center; }
.dashBoardPrintTable td { padding:5px; }

/* print */
#printTable  { width:99%; text-align:center; }
#printScalebarCell { text-align:left; vertical-align:bottom; padding-bottom:10px; }
#printLegendCell { padding-top:10px; }
#printAttributesCell { vertical-align:top; }
#printOvMapCell { text-align:left; }


/* --------------------------------------------------------------------- */
/* internal use, please do not change unless you know what you are doing */
img {border:0px; }
input { margin-bottom:7px; }
.popupContentContainer { background-color:white; padding:4px; }
.popupContentDiv { overflow:auto; }
.transp { filter:alpha(opacity=40); -moz-Opacity:0.4; opacity:0.4; }
.buttonTable { margin:5px; }
/* --------------------------------------------------------------------- */