table.slab {
	margin: 2em 0 0;
}

table.slab .header th {
	background: #dadada;
	font-weight: bold;
	padding-bottom: 1px;
}

table.slab tr.header {
	background: #999999;
}

table.slab td, table.slab th {
	vertical-align: top;
	margin: 0px 1px 0px 0px;
	padding: 10px 3px;
	border-bottom: 1px dotted #989898;
	border-right: 1px dotted #ededed;
}

table.slab th {
	text-align: center;
}

table.slab th a {
	text-decoration: none;
}

table.slab small {
	text-decoration: none;
	color: #666;
	font-size: .9em;
	margin: 1px 0px;
	display: block;
}

table.slab td small a {
	text-decoration: none;
}

table.slab td a:hover {
	color: #CC0000;
}

table.slab th img {
	margin: 1px auto;
	border: 0px;
	padding: 0px;
	clear: both;
	display: block;
}

table.slab tr.row2 {
	background: #fcfcff;
}

.imglist img {
	display: block;
	clear: both;
	position: relative;
	margin: 0px auto;
}

.imglist h3 {
	margin: 0px;
	padding: 0px;
	float: left;
}

.imglist .left {
	clear: left;
}

.imglist li {
	text-align: center;
	display: block;
	margin-bottom: 30px;
	border-top: 1px dotted #ccc;
}

.imglist p {
	text-align: left;
	margin: 3px;
}

ul.nobullet {
	list-style: none;
}

#more-link {
	display: none;
}

#more-info {
	padding: 0px;
	margin: 0px;
	display: block;
}

p.command {
	padding: 8px;
	margin: 3px 20px;
	background: #eee;
}
