.linklist>li {
  padding: 0;
}

.linklist>li a>img {
  padding-top: 0;
}

.linklist>li h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
}

.everyone {
  text-decoration: none;
  margin-left: 0.25em;
}

.everyone-img {
  max-width: 150px;
}
