.linklist>li {
  padding: 0;
}

.linklist>li a>img {
  padding-top: 1em;
  width: 75px;
}

.linklist>li h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
}

.feature {
  text-decoration: none;
  margin-left: 0.25em;
}

img.feature-image {
  max-width: 150px;
}
