.callout {
  float: right;
  margin: 2.5em .5em 0 1em;
  width: 50%;
}

.callout img {
  max-width: 50%;
}

@media only screen
and (max-width: 800px) {
  .callout {
    float: none;
    margin: 0;
    width: 100%;
  }
}
