#map {
	height: 500px;
	width: 784px;
}

#photos p {
  margin: 0;
}
#photos li {
	list-style: none;
  float: left;
  width: 144px;
  margin: 0 16px 0 0;
}
#photos p {
  margin-top: -.25em;
}

.figure p {
	margin-top: 0;
}

.logo {
	display: block;
	clear: both;
	padding-top: 2em;
}

.leaflet-popup-content {
	width: 250px;
}

.leaflet-popup-content h3 {
	margin-top: -1.1em;
	color: #666;
	font-size: 1.2em;
}

.leaflet-popup-content img {
	float: left;
	display: block;
	margin-right: 10px;
}

.leaflet-popup-content table {
	clear: left;
	padding-top: 1em;
}
.leaflet-popup-content th {
	padding-right: 1em;
	text-align: right;
}
.leaflet-popup-content td {
	color: #666;
}