figure.w384 {
	max-width:384px;
}
/*
#main > p {
	padding-top: 48px;
}
#main > p + p {
	padding-top: 0;
}

h2 {
	clear: left;
	padding-top: 1em;
}

.usgs-pp {
	clear: left;
}

.pplist {
	margin-left: 320px;
}
.pplist li {
	margin: 0 0 1em;
	list-style: none;
}

.imagegrid {
	margin: 0;
	width: 320px;
}

.imagegrid li {
	list-style: none;
	margin: 0 16px 0 0;
	padding: 0;
	float: left;
}
.imagegrid img {
	width: 144px;
}*/
