.station-details-map-container {
  height: 350px;
}

.station-details-table {
  margin-top: 0;
  width: 100%;
}

.station-details-heliplot {
  margin-top: 1em;
}

.station-details-heliplot-image {
  border: 1px solid #999;
  padding: 1em 0;
}
