.jumplist {
  border: none;
  margin: 1em 0 0;
  padding: .5em .5em .5em 0;
  background-color: #f4f4f4;
}

.jumplist>a+a:before {
  color: #ccc;
  content: '';
  display: none;
  margin: 0 .75em 0 0;
  clear: both;
}

.alpha {
  font-family: courier;
  font-size: 36px;
  line-height: 1.2;
}
