
.latest-img {
  float: left;
  width: 200px;
  margin-right: 16px;
  margin-botton: 16px;
}

.sections > ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.sections > ul > li {
  max-width: 100%;
}

.sections > ul > li > div > p {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
}

.sections > ul > li > div > a > img {
  max-height: 87px;
  max-width: 100%;
}
