h1 {
  display:none;
}

section.site-sitenav {
  display: none;
}
.page {
  padding-left: 16px;
  width: 100%;
}

img.nehrp {
  float: left;
  margin: 0.4em 1em 1em 0;
}

.sections-list {
  list-style: none;
  margin;-top: 0;
  padding: 0;
}

.sections-listitem {
  max-width: 100%;
}

.sections p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 1em;
  max-width: 100%;
}

.sections-img {
  float: left;
  max-height: 75px;
  max-width: 75px;
  margin-right: 1em;
  margin-top: .25em;
}

div.alert {
  margin-top: 1em;
  padding-top: 0.8em;
}

.feature {
  text-decoration: none;
  margin-left: 0.25em;
}

img.feature-image {
  width: 150px;
}

ul.separator>li {
  padding: 0;
}

img.faq {
  float: left;
  margin-right: 10px;
}

.gobelow {
 clear: left;
}