
.sections > ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.sections > ul > li {
  max-width: 100%;
}

.sections > ul > li > div > p {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
  padding-left: 16px;
}

.sections > ul > li > div > img {
  max-height: 87px;
  max-width: 100%;
  padding-left: 16px;
}
