section.site-sitenav {
  display: none;
}
.page {
  padding-left: 16px;
  width: 100%;
}

img.nehrp {
  float: left;
  margin-right: 5px
}

.sections-list {
  list-style: none;
  margin;-top: 0;
  padding: 0;
}

.sections-listitem {
  max-width: 100%;
}

.sections p {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
}

.sections-img {
  max-height: 87px;
  max-width: 100%;
  padding-left: 16px;
}
