cite {
  margin: .5em 3em 0 0;
  font-size: 1.2em;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  display: block;
  color: #333;
}

ol.papers {
	float: left;
  margin: 1em 0 0 16px;
  padding: 0;
}
ol.papers li {
  margin: .25em 0;
  padding: 0;
  border: 0;
  list-style: disc;
  overflow: visible;
}
.linklist p {
  margin-top: 0;
}

#seealso {
	padding-top: 2em;
	clear: both;
}
