.sigeqs {
	list-style:none;
	margin:0;
	padding:0;
}
.sigeqs .sigeq {
	position:relative;
	margin:0;
	padding:5px 5px 1.5em 40px;
	color:#111;
	-webkit-text-size-adjust:none;
	border-bottom:1px solid #EEE;
}
.sigeqs .sigeq .mag {
	font-weight:bold;
	font-size:larger;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	position:absolute;
	top:0; left:0;
}
.sigeqs .sigeq .place {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display:block;
	margin-bottom:2px;
}
.sigeqs .sigeq .time {
	display:block;
	position:absolute;
	bottom:5px;
	left:40px;
	color:#666;
}
.sigeqs .sigeq .depth {
	display:block;
	position:absolute;
	bottom:5px;
	right:5px;
	color:#666;
}


/* Spinner GIF */
.sigeq-loading {
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:0 4px;
	background-image:url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}
