figure.overview {
  max-width: 450px;
  margin-bottom: 1em;
}
figure.map {
  max-width: 300px;
  margin-bottom: 1em;
}
figure.aftershocks {
  max-width: 277px;
}
figure.fault {
  float: left;
  max-width: 452px;
  margin-bottom:1em;
}
figure.aerial {
  float: left;
  max-width: 224px;
  margin-bottom:1em;
  margin-right: 1em;
}
figure.tags {
  float: left;
  max-width: 304px;
  margin-bottom:1em;
  margin-right: 1em;
}
figure.crack {
  float: left;
  max-width: 433px;
  margin-bottom:1em;
  margin-right: 1em;
}
