th {
  text-align: center;
}

.typea th, .typeb th {
  background: #D2DBEC;
}
.typec th {
  background: #C7FFBA
}
.typed th {
  background: #FFFFBE;
}
.typee th {
  background: #FFC9C4;
}
figure h3 {
  margin: 0;
  padding: 2px;
  text-align: center;
  font-size: 1.5em;
}
