.referencetable {
	border-collapse: collapse;
	margin-bottom: 1em;
}

.referencetable th, .referencetable td {
	border: thin solid black;
}

.referencetable th {
	background-color: #DDDDDD;
	font-weight: bold;
	padding: .25em 1em;
}

.referencetable td {
	font-size: .9em;
	padding-left: 1em;
}

.referencetable ol {
	list-style: none;
	margin-left: -2em;
}

.referencelist ol li {
	margin: .125em 0;
}

td span.author_set {
	display: block;
}
